@font-face {
  font-family: Playlist Script;
  src: url('fonts/Playlist Script.otf');
}


body {
  background-image: url(back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: sans-serif;
}
@media only screen and (max-width: 720px)
{
  body{
    background-image: url(back2.jpg);
    background-size: cover;
  }
}
.box{
  width: 80%;
  padding: 10%;
  vertical-align: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
@media only screen and (max-width: 720px)
{
  .box{
    width: 256px;
  }
}
.under
{
  font-family: Playlist Script;
  font-size: 100px;
  text-align: center;
}
@media only screen and (max-width: 720px)
{
  .under
  {
    font-family: Playlist Script;
    font-size: 50px;
  }
}
