@font-face {
  font-family: Playlist Script;
  src: url('fonts/Playlist Script.otf');
}
@font-face {
  font-family: GothamMedium;
  src: url('fonts/GothamMedium.ttf');
}


body {
  background: url(back.jpg) no-repeat center center fixed;
  background-color:#464646;
  font-family: sans-serif;
  font-size: 12px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 720px)
{
body
{
  background: url(back.jpg) no-repeat center center fixed;
  background-color:#464646;
  font-size: 12px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: GothamMedium;
}
@media only screen and (max-width: 720px)
{
  body
  {
    background: url(back2.jpg) no-repeat center center fixed;
  }
}
}
.box{
  width: 80%;
  padding: 10%;
  text-align: center;
  color: white;
  font-family:GothamMedium;
}
@media only screen and (max-width: 720px)
{
  .box{
    width: 80%;
  }
}
.under
{
  font-family: Playlist Script;
  font-size: 130px;
  text-align: center;
}
@media only screen and (max-width: 720px)
{
  .under
{
    font-family: Playlist Script;
    font-size: 70px;
}
}
ul{
  margin: 0;
  padding: 0;
}
li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
li a:hover{
  color: #b9b9b9;
}
