body {
  background-image: url(back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: sans-serif;
}
@media only screen and (max-width: 720px)
{
  body{
    background-image: url(back2.jpg);
    background-size: cover;
  }
}
.box{
  width: 500px;
  padding: 15px;
  vertical-align: center;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: sans-serif;
}
@media only screen and (max-width: 720px)
{
  .box{
    width: 256px;
  }
}
